body {
    background-color: #121212;
}

a{
    text-decoration: none;
}

button{
    outline: none !important;
    box-shadow: none !important;
}

::-webkit-scrollbar{
    width: 0px;
}

.nav-bar .navbar-nav .nav-item a:hover, .root-list-item:hover{
    opacity: 1;

}

.root {
    height: 100vh;
    position:relative;
    display:grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
            "navbar main-view main-view"
            "player player player";
            overflow: hidden;
}

.nav-bar {
    grid-area: navbar;
    background-color: rgba(0, 0, 0, .8);
    width: 230px;
    min-height: 0;
    flex:1;
}

.top-bar{
    grid-area: main-view;
    height: 60px;
    z-index: 2px;
    background-color: rgba(0, 0, 0, .8);
}

.main{
    grid-area: main-view;
    flex:1;
    min-height: 0;
    overflow-x: scroll;
    margin-top: 60px;
}

.main .margin-top{
    position: sticky;
    height: 60px;
}

.main .main-container{
    padding: 16px 32px;
    min-height: 0;
}

.player{
    grid-area: player;
    background-color: #181818;
    height:90px;
    
}

.nav-bar .navbar-nav{
    padding: 0 8px;

}

.nav-bar .navbar-nav .nav-item a{
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    color: #fff;
    opacity: .6;
    font-weight: 500;
}
.nav-bar .navbar-nav .nav-item.active a{
    background-color: #282828;
    opacity: 1;
}

.nav-bar .navbar-nav .nav-item i{
    font-size: 22px;
    margin-right: 16px;
}

.root-list{
    min-height: 0;
    margin-bottom: 70px;
}

.root-list .root-list-header h2{
    font-size: 11px;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    margin-left: 24px;
    margin-bottom: 12px;
}

.root-list-item{
    padding: 5px 24px 5px 24px;
    color: #fff;
    opacity: .6;
    font-weight: 500;
    cursor: pointer;
}

.root-list-icon{
    width: 24px;
    height: 24px;
    background-color: #fff;
    margin-right: 16px;
}

.root-list-icon.heart{
    background: linear-gradient(135deg,#450af5,#c4efd9);
}

.root-list-info{
    z-index: 1;
    overflow: hidden;
    margin-top: auto;
}

.root-list-info .root-list-links{
    padding: 0 24px;
    text-align: start;
    margin-top: auto;
}

.root-list-info .root-list-links .root-bottom-links{
    flex-wrap: wrap;
}

.root-list-info .root-list-links .root-bottom-links .root-coteiner-link{
    margin-right: 13px;
    margin-bottom: 10px;
}

.root-list-info .root-list-links .root-bottom-links .root-coteiner-link a{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.6875rem;
    font-weight: 400;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: #fff;
    opacity: .6;
    text-decoration: none;
}


.root-list-info .root-list-links .root-info-lg{
    margin-bottom: 32px;

}

.root-list-info .root-list-links .root-info-lg .root-info-bt{
    overflow-wrap: anywhere;
    margin-top: 60px;
    font-size: 0.875rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 0.8125rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    background-color: transparent;
    border-radius: 500px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding-block: 3px;
    padding-inline: 32px 15px;
    border: 1px solid var(--essential-subdued,#878787);
    color: var(--text-base,#fff);
    min-block-size: 32px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.root-list-info .root-list-links .root-info-lg .root-info-logo{
    left: 12px;
    display: flex;
    position: absolute;
}


.top-bar header .icons-action-left button{
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}

.top-bar a .btn-upgrade{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    font-size: 12px;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 34px;
    border-radius: 50px;
}

.top-bar a .btn-upgrade:hover, .root-list-info .root-list-links .root-info-lg .root-info-bt:hover , .player a .player-btn:hover{
    transform: scale(1.07);
    opacity: 1;
}

.top-bar .menu .avatar{

    border-radius:50% ;
    object-fit: cover;
}

.top-bar .menu button{
    border-radius: 23px;
    height: 32px;
    border: none;
    color: #fff;
    padding: 2px;
    background-color: rgba(0, 0, 0, .7);
    
}

.top-bar .menu:hover > .dropdown-menu , .top-bar .menu:hover > button{
    display: block;
    background-color: #282828;

}

.top-bar .menu button:hover{
    background-color: #282828;
}



.top-bar .menu button span{
    margin-left: 2px;
    font-weight:700px ;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 110px;
}

.top-bar .menu .dropdown-menu{
    background-color: #282828;
    margin-top: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .7);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.top-bar .menu .dropdown-menu .dropdown-item{
    color: #fff;
    opacity: .6;
    padding: 3px 20px;
    line-height: 32px;
}

.top-bar .menu .dropdown-menu .dropdown-item:hover{
    opacity: 1;
    background-color: #333;
}

.top-bar .menu .dropdown-menu .dropdown-divider{
    height: 0;
    border-top: 1px solid #404040;
    margin: 0;
}
.main .tittle{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.main .subtitle{
    color: #fff;
    opacity: .6;
}

.main .list{
    padding: 0px 7px;
}

.main .list .card{
    padding: 20px 20px 16px;
    background-color: #181818;
    border-radius: 8px;

}

.main .list .card:hover{
    background-color: #282828;
}

.main .list .col-12{
    padding-left: 8px;
    padding-right: 8px;
}

.main .list .card .card-body{
    min-height: 62px;
}

.main .list .card .card-title{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .24px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main .list .card .card-text{
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 4px;
    color: #fff;
    opacity: .6;
}

.main .list .card .btn-play{
    position: absolute;
    right: 16px;
    bottom: 16px;
    opacity: 0;
}


.main .card .btn-play{
    position: absolute;
    right: 16px;
    bottom: 16px;
    opacity: 1;
}

.main .card .btn-pause{
    position: absolute;
    right: 16px;
    bottom: 16px;
    opacity: 1;
    display: none;
}

.main .list .card:hover > .btn-play{
    opacity: 1;
}


.main .list .card .btn-play button{
    color: #fff;
    background-color: #1db954;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 12px;

}

.main .card .btn-play button{
    color: #fff;
    background-color: #1db954;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 12px;

}

.main .card .btn-pause button{
    color: #fff;
    background-color: #1db954;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 12px;

}

.player {
    background-image: linear-gradient(135deg,#051808,#29a423);

}

.player .player-title{
    padding: 11px 24px 7px 15px;
}

.player .player-title p{
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.6rem;
    margin-block: 0px;
}

.player a .player-btn{
    border-radius: 500px;
    font-size: 1rem;
    font-weight: 700;
    padding-inline: 32px;
    min-block-size: 48px;
    font-size: inherit;
    border: 0px;
    display: inline-block;
}